# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Database files
postgres_data/

# Docker
*.log
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Misc
*.sqlite3
*.db